In [4]:
import pandas as pd
ds1 = pd.read_csv("C:/Users/HP/OneDrive/Desktop/general_data.csv")
ds1.head(50)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,No,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,No,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,No,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,No,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,No,Non-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,No,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,No,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,No,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,No,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,No,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,Male,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,No,Travel_Frequently,Research & Development,16,4,Medical,1,25,Male,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,No,Travel_Rarely,Research & Development,1,4,Other,1,26,Female,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,No,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,Female,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,No,Travel_Rarely,Sales,5,1,Marketing,1,28,Male,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,No,Travel_Rarely,Sales,2,3,Marketing,1,30,Female,...,9.0,Y,12,8,0,10.0,3,2,1,2
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2
31,28,No,Travel_Rarely,Research & Development,7,3,Other,1,32,Male,...,1.0,Y,13,8,0,5.0,6,5,0,2
32,49,No,Travel_Frequently,Research & Development,1,1,Medical,1,33,Female,...,9.0,Y,13,8,0,22.0,2,3,1,2
33,36,No,Travel_Rarely,Sales,5,3,Technical Degree,1,34,Male,...,4.0,Y,14,8,0,10.0,2,8,7,7
34,31,No,Travel_Frequently,Research & Development,9,4,Medical,1,35,Male,...,1.0,Y,16,8,1,2.0,4,2,2,2
35,26,Yes,Travel_Rarely,Research & Development,8,3,Medical,1,36,Male,...,1.0,Y,12,8,2,8.0,5,8,7,4
36,37,No,Travel_Frequently,Sales,9,1,Marketing,1,37,Male,...,1.0,Y,14,8,0,4.0,3,4,1,2
37,42,No,Travel_Frequently,Sales,2,2,Marketing,1,38,Male,...,5.0,Y,13,8,0,23.0,2,20,4,8
38,18,Yes,Travel_Rarely,Research & Development,1,4,Life Sciences,1,39,Male,...,1.0,Y,14,8,2,0.0,3,0,0,0
39,35,No,Travel_Rarely,Sales,20,2,Life Sciences,1,40,Male,...,0.0,Y,19,8,0,12.0,2,11,6,9
40,36,No,Travel_Frequently,Research & Development,8,3,Other,1,41,Female,...,4.0,Y,12,8,2,4.0,2,1,0,0
41,51,No,Travel_Rarely,Research & Development,2,3,Life Sciences,1,42,Male,...,5.0,Y,13,8,0,13.0,2,4,1,2
42,41,No,Travel_Rarely,Research & Development,29,1,Life Sciences,1,43,Male,...,1.0,Y,12,8,0,22.0,6,22,0,4
43,18,No,Travel_Rarely,Sales,7,3,Life Sciences,1,44,Male,...,1.0,Y,15,8,0,0.0,3,0,0,0
44,28,No,Travel_Rarely,Research & Development,9,3,Medical,1,45,Male,...,0.0,Y,23,8,2,9.0,2,8,0,7
45,31,No,Travel_Rarely,Research & Development,8,1,Technical Degree,1,46,Male,...,4.0,Y,12,8,1,10.0,2,8,7,7
46,39,No,Travel_Rarely,Sales,5,4,Marketing,1,47,Female,...,0.0,Y,20,8,0,19.0,3,18,3,7
47,36,No,Non-Travel,Research & Development,5,4,Life Sciences,1,48,Male,...,7.0,Y,21,8,0,11.0,4,9,0,8
48,32,No,Travel_Rarely,Sales,2,3,Marketing,1,49,Male,...,1.0,Y,21,8,1,13.0,4,13,4,8
49,38,No,Travel_Rarely,Research & Development,5,2,Life Sciences,1,50,Female,...,3.0,Y,19,8,2,19.0,4,10,0,1

In [5]:
from scipy.stats import chi2_contingency
from sklearn import preprocessing
label_encoder= preprocessing.LabelBinarizer()
ds1['Attrition']= label_encoder.fit_transform(ds1['Attrition'])
ds1.head()
chitable=pd.crosstab(ds1.Attrition, ds1.BusinessTravel)
r,p,dof,expeted = chi2_contingency(chitable)
print(r,p)
print(chitable)

72.54724105696552 1.764276972983189e-16
BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
0                      414                624           2661
1                       36                207            468

In [6]:
chitable=pd.crosstab(ds1.Attrition, ds1.Department)
r,p,dof,expeted = chi2_contingency(chitable)
# print(r,p)
print(chitable)

Department  Human Resources  Research & Development  Sales
Attrition
0                       132                    2430   1137
1                        57                     453    201

In [10]:
 import matplotlib.pyplot as plt
ds2= pd.read_excel("C:/Users/HP/OneDrive/Desktop/general_data.csv", sheet_name=0)
ds2[['DistanceFromHome']].kurt()

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'Age,Attr'