In [1]:
import pandas as pd
ds1 = pd.read_csv('C:/Users/HP/OneDrive/Desktop/general_data.csv')
ds1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [2]:
ds1.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [ ]:
Hypothesis 1

In [3]:
from sklearn import preprocessing
label_encoder= preprocessing.LabelBinarizer()
ds1['Attrition']= label_encoder.fit_transform(ds1['Attrition'])
from scipy.stats import pearsonr
r,p = pearsonr(ds1.Attrition,ds1.Age)
print(r,p)

-0.15920500686577965 1.996801615886744e-26

In [ ]:
Hypothesis 2

In [4]:
r,p = pearsonr(ds1.Attrition,ds1.DistanceFromHome)
print(r,p)

-0.00973014101017966 0.5182860428050771

In [ ]:
Hypothesis 3

In [5]:
r,p = pearsonr(ds1.Attrition,ds1.MonthlyIncome)
print(r,p)

-0.031176281698115007 0.03842748490600132

In [ ]:
Hypothesis 4

In [6]:
r,p = pearsonr(ds1.Attrition,ds1.PercentSalaryHike)
print(r,p)

0.03253259489105351 0.030743386433355353

In [ ]:
Hypothesis 5

In [7]:
r,p = pearsonr(ds1.Attrition,ds1.TrainingTimesLastYear)
print(r,p)

-0.04943057624425501 0.0010247061915362814

In [ ]:
Hypothesis 6

In [8]:
r,p = pearsonr(ds1.Attrition,ds1.YearsAtCompany)
print(r,p)

-0.1343922139899772 3.1638831224877484e-19

In [ ]:
Hypothesis 7

In [9]:
r,p = pearsonr(ds1.Attrition,ds1.YearsSinceLastPromotion)
print(r,p)

-0.03301877514258434 0.028330336189396753

In [ ]:
Hypothesis 8

In [10]:
r,p = pearsonr(ds1.Attrition,ds1.YearsWithCurrManager)
print(r,p)

-0.15619931590162842 1.7339322652900218e-25